<header class="bg-zinc-900 flex flex-col md:flex-row p-4 md:p-20 gap-3 text-center md:text-left rounded-xl justify-between items-center h-[100vh] md:h-auto">
    <div class="">
        <h1 class="text-5xl font-bold mb-2">Criss Servicios Legales</h1>
        <p class="my-4 text-2xl">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non, quam.</p>
        <button class="bg-purple-800 rounded-full px-4 py-2 md:mt-10  hover:bg-purple-700">Contactanos</button>
    </div>
    <img src="images/juez.svg" alt="juez" class="w-80">
</header>