<section class="flex flex-col md:flex-row-reverse rounded-xl bg-purple-900 py-10 md:py-20 gap-y-10 md:px-5">
    <div class="flex flex-2 md:flex-1 flex-col gap-y-10 text-center md:text-left">
        <h2 class="text-5xl font-bold">Nuestras especialidades</h2>
        <p class="text-3xl text-zinc-300">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, quas?</p>
    </div>
        <div class="flex-1 grid grid-cols-2 gap-4">
        <div class="text-center">
            <img src="images/hammer.svg" alt="" class="w-20 m-auto">
            <p class="mt-4">Especialidad 1</p>
        </div>
        <div class="text-center">
            <img src="images/balanza.svg" alt="" class="w-20 m-auto">
            <p class="mt-4">Especialidad 2</p>
        </div>
        <div class="text-center">
            <img src="images/corte.svg" alt="" class="w-20 m-auto">
            <p class="mt-4">Especialidad 3</p>
        </div>
        <div class="text-center">
            <img src="images/alegato.svg" alt="" class="w-20 m-auto text-zinc-300">
            <p class="mt-4">Especialidad 4</p>
        </div>
    </div>

</section>