---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Acerca de">
    <h1>About pequeño</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem nobis soluta quia, eos optio est in natus itaque saepe vitae, iusto rem! Amet dolorum praesentium nulla doloribus omnis, voluptatibus aspernatur quos velit perferendis laudantium earum sequi, reprehenderit eum ex perspiciatis voluptate! Aperiam soluta est sint distinctio eligendi qui doloribus impedit vitae ullam autem, numquam veniam consectetur culpa aliquid a nobis corrupti laborum sed atque. Officia ex facere minus reiciendis quo explicabo aliquid odio minima vero accusamus quibusdam suscipit ea aspernatur harum facilis earum illum eaque ipsam in natus, ipsa beatae quis corporis exercitationem! Animi iure facere, id aperiam laborum possimus?</p>
</Layout>